<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CSE564 Final Project</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" />
    <!-- endbower -->

    <!-- include: "type": "css", "files": "styles/*.css" -->
    <link href="/styles/app.css" rel="stylesheet" type="text/css">
    <link href="/styles/barChart.css" rel="stylesheet" type="text/css">
    <link href="/styles/lineChart.css" rel="stylesheet" type="text/css">
    <link href="/styles/pieChart.css" rel="stylesheet" type="text/css">
    <!-- /include -->
</head>
<body ng-controller="myAppCtrl"><h1>Check Console </h1>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        {{selectedPeople}}
        <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>

        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li ng-repeat="p in people" ng-click="$parent.selectPeople(p)"><a href="#">{{p}}</a></li>
    </ul>
</div>

<div class="transBarChart container col-md-12" ng-controller="barChartCtrl">
    <div class="barChart" bar-chart data="data" config="config">
    </div>
</div>


<div class="freqPieChart container col-md-3" ng-controller="pieChartCtrl">
    <div class="pieChart" pie-chart data="data" config="config" selected="selected">
    </div>
</div>

<div class="freqlineChart container col-md-9" ng-controller="lineChartCtrl">
    <div ng-hide="!$parent.pieChartCtrl.selected" class="lineChart" line-chart data="data" config="config" >
    </div>
</div>

</body>
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/d3/d3.js"></script>
<script src="/bower_components/d3-tip/index.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<!-- endbower -->


<!-- include: "type": "js", "files": ["scripts/*.js","scripts/**/*.js","scripts/**/**/*.js"] -->
<script src="/scripts/myApp.js"></script>
<script src="/scripts/components/barChart/barchart.js"></script>
<script src="/scripts/components/lineChart/linechart.js"></script>
<script src="/scripts/components/pieChart/piechart.js"></script>
<!-- /include -->
</html>